<tr>
    <td>
        <span class="time">
            {{ job.start_at | date }}
        </span>

        {% if job.args.recurring is defined %}
            <span class="label label-danger">Recurring job</span>
        {% endif %}
    </td>
    <td>
        <code>{{ job.class }}</code>
    </td>
    <td>
        <a class="label label-info" href="#">
            {{ job.queue }}
        </a>
    </td>
    <td>
        {{ dump(job.args) }}
    </td>
</tr>