{% extends 'AllProgrammicResqueBundle::layout.html.twig' %}

{% block link_failures_attr %} class="active"{% endblock %}

{% block content %}
<h1>All Failure Queues</h1>


<p class="sub">Showing {{ failure_start_at }} to {{ failure_end_at }}  of <b>{{ failure_size }}</b> jobs</p>

<ul class="failed">
    {% for id, job in jobs %}
        {{ include('AllProgrammicResqueBundle:failures:_failed_job.html.twig', {id: id, job: job}, with_context=false) }}
    {% endfor %}
</ul>

<%= pagination(start: failure_start_at, total: failure_size) unless params[:class] %>
{% endblock %}