{% extends '@AllProgrammicResque/layout.html.twig' %}

{% block link_stats_attr %} class="active"{% endblock %}

{% block content %}
    <h1 class="wi">Resque</h1>
    {{ render(controller('@AllProgrammicResque/Stats/info')) }}

    <h1 class="wi">Redis</h1>
    <table class="table table-bordered stats">
        {% for key, value in infos %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}