<h1>Charts</h1>
<div class="row">
    <div class="col-md-4">
        {{ render(controller('AllProgrammicResqueBundle:Chart:processed')) }}
    </div>
    <div class="col-md-4">
        {{ render(controller('AllProgrammicResqueBundle:Chart:failures')) }}
    </div>
</div>
