<div data-charts-async="true"
     data-charts="{}"
     data-charts-action="{{ path('resque_chart_processed') }}"
     data-charts-interval="10000"
     data-label="Processed"
     data-title="Last 7 days processed">
</div>